.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12;
    background-color: #778899;
    border: solid 2.75px black;
    padding: 5px;
    margin: auto;
    display: block;
}
.one input {
    border-radius: 7px;
    width: 200px;
    margin: auto;
    border: 1px solid red;
}